@model ApplicationUser

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="align-items-center justify-content-center">
<div class="text-center">
    <h2 class="text-white">Bine ai venit, @Model.FirstName @Model.LastName!</h2>
    <h4 class="text-white">Vrei sa incepi jocul sau sa vorbesti cu prietenii tai?</h4>
    <a href="Play" class="btn btn-primary mr-3">Play</a>
    <a href="ChatView" class="btn btn-secondary">Chat with Friends</a>
</div>
</body>
</html>