<!DOCTYPE html>
<html>
<body>
    <form method="post" enctype="multipart/form-data" asp-action="UploadPdf">
        <input type="file" name="file" accept=".pdf" />
        <input type="submit" value="Upload PDF" />
    </form>
</body>
</html>