<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Joacă Trivia</title>
    <link rel="stylesheet" href="/css/Students/play.css" />
</head>
<body>
    <div>
        <label for="gameModeButtons" class="text-white"><h1>Ce mod de joc alegi?</h1></label>
        <div id="gameModeButtons">
            <button type="button" id="singleplayerBtn" class="page-btn">Singleplayer</button>
            <button type="button" id="multiplayerBtn" class="page-btn" onclick="window.location.href='/Students/ChatView'">Multiplayer</button>
        </div>

        <div id="materialsQuestion" style="display: none;">
            <p class="text-white"><h2>Ai vrea sa joci cu materialele proprii sau sa le incerci pe cele deja existente?</h2></p>
            <button type="button" id="myMaterials" class="page-btn">Am propriile mele materiale.</button>
            <button type="button" id="yourMaterials" class="page-btn" onclick="window.location.href='/Students/MateriiSingle'">As vrea sa le incerc pe cele deja existente.</button>
        </div>

        <div id="materialsForm" style="display: none;">
            <div id="uploadForm">
                <form method="post" enctype="multipart/form-data" asp-action="UploadPdf" onsubmit="showLoadingScreen()">
                    <label for="file" class="text-white"></label>
                    <input type="file" name="file" accept=".pdf" />
                    <input type="submit" value="Upload PDF" class="page-btn" id="uploadpdf-submit"/>
                </form>
            </div>
        </div>

        <div id="loadingScreen" style="display: none;">
            <div class="loading-container">
                <div class="spinner"></div>
                <p id="loadingMessage">Your PDF is being processed...</p>
            </div>
        </div>
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="/js/Students/play.js"></script>
</body>
</html>
